#top, #left, #right {
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 30px;
		}
		#left { left: 0; 
            background: linear-gradient(to right, red,white);}
		#right { right: 0; 
            background: linear-gradient(to left, red,white);}
		
	#top {
		left: 0; right: 0;
		height: 30px;
		}
		#top { top: 0; 
            background: linear-gradient( red,white);}

h1 {
    text-align: center;
    font-size: 60px;
    color: black;
    font-family: monaco;
    margin-bottom: 100px;
}

.form{
    color: white;
    text-align: center;
    font-family: monaco;
    cursor: pointer;
    font-size: 30px;
    background: red;
    border: black;
    margin-bottom: 75px;

}
.text-center{
    text-align:center
}

.joke_paragraph {
    font-family: monaco;
    text-decoration-line: underline;
    font-size: 30px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px

   
}
.joke_categories{
    text-align: center;
    font-family: monaco;
    font-size: 20px;
    background:lightgray ;
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 100px

}

.joke_answer{
    font-family: monaco;
    font-size: 30px;
    text-align: Center;
    color: green;
    margin-left: 100px;
    margin-right: 100px

    
}
.space{
    font-family: monaco;
    font-size: 20px;
    
}
label{
    margin-left: 100px;
}


#categories{
    font-family: monaco;
    font-size: 20px;
   
}
.additional_jokes{
    font-family: monaco;
    font-size: 30px;
    margin-top: 75px;
    margin-left: 100px
    
}


label {
    font-family: monaco;
    font-size: 20px;
}