h1 {
    text-align: center;
    font-size: 60px;
    color: black;
    font-family: monaco;
}

button {
    color: white;
    text-align: center;
    font-family: monaco;
    cursor: pointer;
    font-size: 30px;
    background: red;
    border: black;

}
.text-center{
    text-align:center
}

.joke_paragraph {
    font-family: monaco;
    text-decoration-line: underline;
    font-size: 30px;
    text-align: center;
   
}
.joke_categories{
    text-align: center;
    font-family: monaco;
    font-size: 20px;
    background:lightgray ;
}

.joke_answer{
    font-family: monaco;
    font-size: 30px;
    text-align: Center;
    color: green;
}

#categories{
    font-family: monaco;
    font-size: 20px;
    background-color: lightblue;
}
.additional_jokes{
    font-family: monaco;
    font-size: 30px;
    
}

label{
    font-family: monaco;
    font-size: 20px;
}