h1 {
    text-align: center;
    font-size: 60px;
    color: black;
    font-family: monaco;
}

button {
    color: white;
    text-align: center;
    font-family: monaco;
    cursor: pointer;
    font-size: 30px;
    background: red;
    border: black;

}
.text-center{
    text-align:center
}
